{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro" rel="stylesheet">
        <title>PicoFI - {{template "title" .}}</title>
        <meta name="description" content="Minimalistic and low-resource financial independence and early retirement calculator">
        <meta name="author" content="rdewildt">
        <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    </head>
    <body>
    <header><a href="/">PicoFI</a></header>
        {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
        <footer>
            <p>Powered by <a href='http://golang.org'>Go</a></p>
            <p>Created by Roy de Wildt</p>
        </footer>
    </body>
</html>
{{end}}
