{{define "title"}}Calculator{{end}}

{{define "main"}}
<h1>Hey, I'm a calculator</h1>
<section class="variables">
  <form method="POST">
    <label>Yearly Income</label>
    <input type="text" name="income" placeholder={{.AnnualIncome}} />
    <label>Yearly Expenses</label>
    <input type="text" name="income" placeholder={{.AnnualExpenses}} />
    <button class="submit" type="submit">Calculate</button>
  </form>
</section>
<section class="results">
  <p>Annual Saverate: {{annualSaveRate .AnnualIncome .AnnualExpenses}}</p>
</section>
{{end}}
