{{define "title"}}Calculator{{end}}

{{define "main"}}
<h1>I'm the calculator</h1>
<form method="POST">
  <label>Yearly income</label>
  <input type="text" name="income" placeholder="default here"/>
  <input type="submit" value="Calculate" />
</form>
{{end}}
